.Image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 imágenes arriba */
  gap: 20px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
}

.Image-grid Image {
  max-width: 100%; /* Establece un ancho máximo para las imágenes */
  height: auto; /* Mantiene la relación de aspecto */
  display: block; /* Elimina el espacio adicional debajo de las imágenes */
}

/* Media query para una sola columna en pantallas más estrechas */
@media (max-width: 768px) {
  .Image-grid {
    grid-template-columns: 1fr; /* Una sola columna */
  }
}
